.video-modal {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;

  .video-modal-wrapper {
    width: 100%;
    height: 100%;
    position: fixed;

    .video-modal-close {
      position: fixed;
      right: 10rem;
      top: 5rem;
      font-size: 5rem;
      z-index: 200;
      cursor: pointer;
    }
  }
}
